################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Bffs/WebClientBffGateway/bin/Debug/net9.0
/Bffs/WebClientBffGateway/obj
/bin/Debug
/CarePulse.AppHost/bin/Debug/net9.0
/CarePulse.AppHost/obj/Debug/net9.0
/CarePulse.AppHost/obj
